# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Env files
.env

# Database
*.db
*.sqlite3

# Test coverage
.coverage
htmlcov/

# Node / frontend
node_modules/
dist/

# Editors / OS
.vscode/
.idea/
.DS_Store
